name: Build & Deploy Next.js

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}:${{ github.sha }}
          docker build -t $IMAGE .
          docker push $IMAGE

      - name: Update deployment image
        run: |
          sed -i "s|image: ghcr.io/fahmialis/next-docker-base:.*|image: ghcr.io/fahmialis/next-docker-base:${{ github.sha }}|" k8s/deployment.yaml

      - name: Commit & push manifest
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git commit -am "deploy: ${{ github.sha }}"
          git push